* {
    margin: 0;
    padding: 0;
}
.header {
    min-height: 100vh;
    width: 100%;
    background-image: url(./img/maldives-3220702_1920.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav {
    display: flex;
    padding: 1% 6%;
    justify-content: space-between;
    align-items: center;
    background-color: #0000003d; 
    box-shadow: 2px 2px 3px white;
}
nav h3 {
    font-size: 25px;
    font-weight: 100;
    color: rgba(254, 159, 17, 0.922);
    font-family:'Times New Roman', Times, serif;
}
nav h3 img {
    height: 35px;
    width: 35px;
}
nav h3 span {
    color:white;
}
.nav-link {
    flex: 1;
    text-align: right;
    transition: 1s;
}
.nav-link ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
    position: relative;
}
.nav-link ul li img {
    height: 20px;
    width: 20px;
}
.nav-link ul li a {
    color: yellow;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Noto Serif', serif;
}
.nav-link ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(220, 151, 32);
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-link ul li:hover::after {
    width: 100%;
}
.sub-menu {
    display: none;
    top: 22%;
    position: relative;
    right: 40%;
   transition: 1s;
}
.sub-menu ul {
    position: absolute;
    border-radius: 0px;
    background-color:black;
    text-align: center;
    transition: 1s;
}
.sub-menu ul li a{
    padding-left: 0px;
}
.header ul li:hover .sub-menu {
         display: block;
         position: relative;
         top: 35%;
         right: 30%;
         background-color: black;
         transition: 1s;
}
.header ul li:hover .sub-menu ul {
    display: block;
    position: absolute;
    border-radius: 0px;
    background-color: black;
    text-align: center;
    transition: 1s;
}
.sub-menu ul li.hover {
       color: yellow;
}
.text-box {
    width: 90%;
    color: aliceblue;
    position: absolute;
    top:60%;
    left: 50%;
    text-align: center;
    transform: translate(-50%,-50%);
}
.text-box h2 {
    font-size: 22px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px 2px black;
}
.text-box h1 {
    font-size: 70px;
    text-shadow: 2px 3px 4px black;
    letter-spacing: 1px;
}
.hero-btn {
    border: 2px solid black;
    background: transparent;
    padding: 12px 34px;
    cursor: pointer;
    position: relative;
    font-size: 20px;
    text-decoration: none;
    margin-top: 22px;
    display: inline-block;
    color: white;
    background-color:#e91e1e;

}
.hero-btn:hover {
    background-color:#e46c6c;
}
nav .fa {
    display: none;
}

@media( max-width:700px) {
    nav h3 {
        color: black;
    }
    nav h3 span {
        color: white;
    }
    .text-box h1 {
        font-size: 25px; }
    .text-box h2 {
            font-size: 15px; }
    .hero-btn {
        font-size: 10px;
        padding: 6px 18px;
    }
    .nav-link ul li {
        display: block;
    }
    .nav-link {
        position: absolute;
        background:rgb(122, 10, 10);
        top: 0%;
        right: -200px;
        height: 100vh;
        width: 200px;
        z-index: 2;
        text-align: left;
        transition: 1s;
    }
    .nav-link ul li a {
        color: white;
    }
    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-link ul {
        padding: 20px;
    }
    .sub-menu ul {
        background-color: black;
    }
    .sub-menu ul li a{
        color: yellow;
    }
}
/* ------------- */

#booking {
    text-align: center;
    list-style-type:none;
    margin-top:0px;
    background-color:#795548;
    border: 1px solid #795548;
    padding: 2px;
    box-shadow:  1px 2px 68px #607d8b;
    margin-bottom: -3px;
}
.booking-col{
    display: inline-block;
    padding: 12px 20px;
    margin: 3px 3px;
}
.booking-col h3 {
    text-align: center;
    font-size: 15px;
    color:bisque;
}
.booking-col .book {
    padding: 12px 30px;
    background:white;
    text-transform: capitalize;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid black;
}
.booking-col .submit {
    padding: 12px 30px;
    background:#7AB730;
    text-transform: capitalize;
    font-size: 15px;

}
.booking-col .book:hover {
    background: #add27f;
}
@media (max-width:700px){
    .booking-col {
           display: inline-block;
    }
}

/* -- section  */
.service {
    width: 80%;
    margin: auto;
    padding-top: 80px;
    text-align: center;
}

.service p {
    color: #7AB730;
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 12px;
    padding: 10px;
}
 .service h1 {
    font-size: 35px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.row {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.service-col {
    flex-basis: 31%;
    background: #fff3f3;
    margin-bottom: 5%;
    padding: 20px 12px;
    border-radius: 20px;
    box-sizing: border-box;
}
.service-col h2 {
    margin: 8px 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: 2px;
    font-size: 28px;
}
.service-col p {
    line-height: 20px;
    letter-spacing: 0px;
    font-size: 15px;
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 5px;
}
.service-col .fas {
    font-size: 28px;
    margin-bottom: 12px;
    border: 1px solid #7AB730;
    padding: 18px;
    color: #7AB730;
    transition: .8s;
}
.service-col .fas:hover {
    background:#7AB730;
    color: white;
    
}
.service-col:hover {
    box-shadow: 1px 3px 6px black;
}

@media (max-width:700px){
    .row {
        flex-direction: column;
    }
    .service-col h2 {
        margin: 10px 0px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        letter-spacing: 2px;
        font-size: 32px;
    }
    .service-col{
        margin-bottom: 10%;
    }
}

/*  destination  */
.destination {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
.destination p {
    color: #7AB730;
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 12px;
    padding: 10px;
}
 .destination h1 {
    font-size: 35px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.destination-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.destination-col img {
    width: 100%;
    height: 100%;
    display: block;
}
.layer {
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
}

.layer:hover {
    background:rgba(255, 166, 0, 0.532);
}
.layer h3 {
    width: 100%;
    font-weight: 500;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3 {
    bottom: 49%;
    opacity: 1;
}

@media (max-width:700px){
    .destination h1 {
        font-size: 25px;
        color: black;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .service h1 {
        font-size: 25px;
        color: black;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
}

/* packages */

.packages {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.roww {
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}

.ph {
    color: #7AB730;
    font-size: 22px;
    letter-spacing: 2px;
    line-height: 12px;
    padding: 10px;
}
 .ptp {
    font-size: 35px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.packages-col {
    flex-basis: 31%;
    margin-bottom: 10%;
    box-sizing: border-box;
    border: 1px solid transparent;
    box-shadow: 1px 1px 4px black;
    transition: 0.6s;
    border-radius: 12px;
    overflow:hidden;
}
.packages-col img {
    width: 100%;
    height: 100%;
    position: relative;
}
.row1 {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.m-0 {
    padding: 4px;
    margin-bottom: 15px;
}
.m-0 .fa {
    margin-right: 5px;
    color:#7AB730 ;
}

.h5 {
    text-decoration: none;
    color:black;
    font-weight: 300;
    font-size: 23px;
    margin-top: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.m-1 {
    padding: 4px;
    margin-bottom: 15px;
    font-size: 20px;
}
.m-1 .fa {
    margin-right: 5px;
    color:red ;
}

.packages-col:hover {
    box-shadow: 1px 1px 12px black;
}

@media (max-width:700px){
    .packages-col{
        flex-direction:column;
        flex-basis: auto;
       
    }
    .packages-col img {
        width: 312px;
        height: 242px;
    }
}

.CAA {
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    background-color: black;
}
.CAA h4 {
    font-size: 28px;
    padding-top: 12px;
    margin-bottom: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}
.CAA p {
    color: white;
    font-weight: 500;
    padding-bottom: 12px;
}
.icons img {
    height: 18px;
    width: 18px;
    padding: 12px;
    color: pink;
    border: 1px solid white;
    margin: 12px;
}
.icons img:hover {
       height: 17px;
       width: 17px;
       background: white;
}
.copyright {
    padding-top: 12px;
    word-spacing: 2px;
    letter-spacing: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.copyright span {
    color: #7AB730;
}
@media (max-width:700px){
    .CAA p {
        color: white;
        font-weight: 500;
        padding-bottom: 12px;
        font-size: 8px;
    }
}

